body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mobile-menu-visible {
  display: block;
}

  /* bigger screen */
  @media (min-width: 600px){
    .my-home-class{
     margin-top: -90px;
    }
    .about-img{
      margin-top: -100px;
    }
  }

    /* bigger screen */
    @media (max-width: 600px){
      .Header-Navabar{
        margin-right: -90px;
      }
    }

  